# Wolthers & Associates - MySQL Configuration
# Optimized for trips.wolthers.com database

[mysqld]
# Basic Settings
user = mysql
default-storage-engine = InnoDB
socket = /var/lib/mysql/mysql.sock
pid-file = /var/lib/mysql/mysql.pid

# Safety
max_allowed_packet = 64M
max_connect_errors = 1000000

# Binary Logging
log-bin = mysql-bin
expire_logs_days = 14
sync_binlog = 1

# Caches and Limits
tmp_table_size = 32M
max_heap_table_size = 32M
query_cache_type = 0
query_cache_size = 0
max_connections = 500
thread_cache_size = 50
open_files_limit = 65535
table_definition_cache = 4096
table_open_cache = 4096

# InnoDB
innodb_flush_method = O_DIRECT
innodb_log_files_in_group = 2
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
innodb_buffer_pool_size = 1G

# Logging
log_error = /var/log/mysql/mysql-error.log
log_queries_not_using_indexes = 1
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 2

# Character set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Time zone
default-time-zone = '+00:00'

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4 